.header{
    font-weight: bold;
}

.numbers{
    margin: 20px;
    text-align: center;
    
}

.number{
    display: inline-block;
    width: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: lightcoral;
}